<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirm Page</title>
</head>
<body>
	<h1>Confirmation</h1>
	<p>You have booked <span th:text="${appointment.schedule.doctor.name}"></span>
	on <span th:text="${appointment.schedule.date}"></span>at
	<span th:text="${appointment.schedule.fromTime}+'-'+${appointment.schedule.toTime}"></span><p>
	<a>Cancel Appointment</a>
	<a th:href="@{/DoctorAppointment/SmsConfirmation(id=${appointment.id})}">Confirm Appointment</a>
</body>
</html>