<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
	<div th:replace="fragment/sidebar::app-sidebar"></div>
		 <div class="container" style="width:100%;margin-left:200px;">

		<h4 style="padding:20px;background:#fff;color:#717171;"><i class="fa fa-building" aria-hidden="true"  style="width:25px;"></i>Departments</h4>

		<form th:action="@{/admin/departments}" method="POST"th:object="${department}">

			<input type="text" th:field="*{name}" placeholder="Enter Name">
			<input type="text" th:field="*{image}" placeholder="Enter Image URL">
			<input type="submit" value="Create">

		</form>
		<table class="table mt-3">
			<tr>
				<th>ID</td>
				<th>Department Name</td>
				<th>Department Image URL</td>
			</tr>
			<tr th:each="department:${departments}">
				<td th:text="${department.id}"></td>
				<td th:text="${department.name}"></td>
				<td th:text="${department.image}"></td>
			</tr>
		</table>

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>