<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Doctors </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
		<a th:href="@{/admin/doctors/new}" class="btn btn-primary">New Doctors</a>
	<table class="table">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Doctor_Name</th>
	      <th>Specialties</th>
	      <th>Qualifications</th>
	      <th>Department</th>
	    </tr>
	  </thead>
	  <tbody>
	     <tr th:each="doctor:${doctors}">
	        <td th:text="${doctor.id}"></td>
	        <td th:text="${doctor.doctorname}"></td>
	        <td th:text="${doctor.specialites}"></td>
	        <td th:text="${doctor.qualification}"></td>
	         <td th:text="${doctor.department.name}"></td>
	        <td>
	            <a th:href="@{/admin/doctors/addDoctor(id=${doctor.id})}">Add</a>
	        </td>
	        <td>
	          <a class="btn btn-warning btn-sm" th:href="@{/admin/doctors/edit(id=${doctor.id})}"><i class="fa fa-pencil-square-o"></i>Edit</a>
	          |
	          <a class="btn btn-danger btn-sm"th:href="@{/admin/doctors/delete(id=${doctor.id})}"><i class="fa fa-trash-o"></i>Delete</a>
	        </td>
	     </tr>
	  </tbody>
	</table>
</body>
</html>