<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Doctor</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container pt-3">
	<div th:replace="fragments/admin-navbar ::navbar"></div>
	</div>
	<div class="container pt-3">
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@{/admin/products}">Doctors</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
	<div class="card">
	<div class="card-header">
		<h1 class="h5">Edit Doctors Profile</h1>
		
	</div>
	<div class="card-body">
	<form th:action="@{/admin/doctors/edit}" th:object="${doctor}" method="POST">
	   <input type="hidden" th:field="*{id}">
	   <input type="text" placeholder="Doctor Name" th:field="*{doctorname}"/>
	   <input type="text" placeholder="Specialties" th:field="*{specialties}"/>
	   <input type="text" placeholder="Qualifications" th:field="*{qualification}"/>
	   <select th:field="*{departments}">
	      <option th:each="dp:${departments}" th:text="${dp.name}" th:value="${dp.id}"></option>
	   </select>
	   <input type="submit" value="Submit">
	</form>
	</div>
	</div>
	
</body>
</html>