<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Doctors</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>

 <form th:action="@{/admin/doctors/new}" method ="POST" th:object="${doctor}">
	<div class="form-group">
		<label>Doctor Name:</label>
	  	 <input  type="text"  class="form-control" placeholder="Doctor Name" th:field="*{doctorname}"/>
		</div>
		<div class="form-group">
	  	 <label>Specialties</label>
	  	 <input type="text"  class="form-control" placeholder="Specialties" th:field="*{specialties}"/>
	  	 </div>
	  	 	<div class="form-group">
	  	 <label>Qualifications</label>
	  	 <input type="text"  class="form-control" placeholder="Price" th:field="*{qualifications}"/>
	  	 </div>
	  	<div class="form-group">
	   <label> Department:</label>
	   <select name="departmentId" class="form-control">
	      <option th:each="dp:${department}" th:text="${dp.name}" th:value="${dp.id}"></option>
	   </select>
	   </div>
	   
	   <input  class="btn btn-primary btn-block" type="submit" value="Submit">
	</form>
			
			
	
</body>
</html>