<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
 <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Online Doctor Appointment</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/css/homenavbar.css}">
 <script th:src="@{/js/nav.js}"></script>
</head>
 <body >
 <div class="wrapper" th:fragment="app-homenavbar">
         <header>
            <nav>
             <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
            <div class="logo">
               <a th:href="@{/}"> <img th:src="@{/images/gm-logo.png}"  height="90px"/>
		</a></div>
               <div class="menu">
                  <ul>
                     <li><a th:href="@{/}">Home</a></li>
                     <li><a th:href="@{/findDoctor}">Appointments</a></li>
                     <li><a th:href="@{/departments}">Departments</a></li>
                     <li><a th:href="@{/contactus}">Contact</a></li>
                  </ul>
               </div>
            </nav>
            
         </header>
         <div>
                     <img class="bg" th:src="@{images/hospital1.jpg}"/>
               <div class="svg-wrapper my-auto ">
  <svg xmlns="http://www.w3.org/2000/svg">
    <rect class="shape"/>
    <div class="text"><a class="app" th:href="@{/findDoctor}">Make Appointments</a></div>
  </svg>
</div>
      </div>
      </div>
   </body>
</html>