<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Online Doctor Appointment</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Carme&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/nav.css}">
<script th:src="@{/js/nav.js}"></script>
</head>
 <body>
 <body>
<nav class="navbar navbar-default navbar-fixed-top"  th:fragment="app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}"><img height="100" width="120" src="https://lh3.googleusercontent.com/ZHNWxUXIOx60YDAITXniNkCc_0b6PtFrkAsZWUq23NxFApCvpNIBOHOvuPPp8nlAIXq77n6vQFuOb91uKaF0z466yjw2P9fscR5BUuSHW0Oh-HzUyfstIFsgPN7yRYQrwWg1PCySCU2vyFWcZ9aggGTWPteFa4eesN-ffPm65zFxbGtTpxc8OkwSFV3GPtKGHHO8xbnUkn9_obHjNiuWBGLuvvy2Teka71A4Ybl3hWhCMGbiZlaomvmyv9kxcCdYYq4nZcJhwwg5zYdF9-XEse6nLifbmW4h9BnL7BZK7oHE8wwp_skxTaH5XdooVuO1D8EgnvgeMmNVe1azq1Ayu1-E7VeJF1SP4KHEvTki_Jy5rGqBi251XOU7yd-auAIma5tsIhxt1IW8TQpU0RSpAsdmPSHuPyZoyxg8HqHEET84tdqX9n0-1kj6L2vbk84d1qx23dkq7BvPakmxdNOHMo-36WK1LvjKWGwu7ZxAw_TRs60VB7x9kmzYwCfiVNnm3GnvQn0GXS3PlsG3mag6UjytnJwYU0wjfLMN3F2GPD02tUb_PxaGSDldWh30N0RFyGwJp1iVKbh8_3qnpDA5jNSSsZUGo393wTLWZibnean_dtAeO2p1ZMjZ7tsXXmBPrF8SmnFdPnkRh0Vsrw7kX16M-kNKY66hy0gocjyrg1E5X4O8jfd7=w225-h224-no" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            
				<li><a th:href="@{/}">Home</a></li>
				<li><a >Find Doctors</a></li>
				<li><a >Appointments</a></li>
				<li><a th:href="@{/contactus}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="image">
   <h1 class="heading">Main Heading</h1>
   <p><button class="btn btn-large">Big Button</button></p>
</div>


     <div class="col-lg-12">
		<nav
			class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar"
			th:fragment="app-navbar">
			<a class="navbar-brand" th:href="@{/}"> <img height="100"
				width="110" th:src="@{/images/download.png}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div
				class="collapse navbar-collapse main-menu-item justify-content-center"
				id="navbarSupportedContent">
				<ul class="navbar-nav align-items-center">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/findDoctor}">Find Doctors</a></li>
					<li class="nav-item"><a class="nav-link">Appointments</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/contactus}">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- /.navbar -->

	<!-- Bootstrap Javascript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>



</body>
</html>