@charset "ISO-8859-1";

.doc-sr-box{
	background:#004d99;
	border-radius:20px;
	box-shadow: 4px 4px 18px -4px rgba(0,0,0,0.75);
	
}
.doc-sr-box .dropdown-menu{
	padding:0; 
	 margin:0; 
}

.card{
	 text-align: center;
	 max-height:420px;
}

.card img {
  width: 150px;
  height:150px;
  border-radius: 50%;
 
}
.card:hover{
	 	box-shadow: 5px 5px 10px;
}

.button {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #004d99;
padding: 10px 20px;
border-radius: 50px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button:hover {
	text-decoration:none;
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}