
.card{
	min-height:350px;
}
	
	
.card .icon{
	width:90px;
	height:90px;
}

.card a{
	font-size:18px;
	color:#004d99;
}
.table h2{
	color:#004d99;
}

.profile-img{
	max-height:400px;
}

/*	
	
.container .doctorPF {
	text-aling:center;
	background:#004d99;
	
}

.container .doctorPF .center{
	text-aling:center;
	background:#004d99;
	display:block;
	margin-right:auto;
	margin-left:auto;
	width:50%;
}

.container .doctor .doctor_action{
	background:#fff;
}
.container .doctor .doctor_action i{
	margin-top:20px;
	padding:20px;
	font-size:50px;
	background:grey;
	color:#fff;
	border-radius:50%;
} 

*/


