<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="ISO-8859-1">
<title>Online Doctor Appointment</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Carme&display=swap"
	rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" th:href="@{/css/nav.css}">
<script th:src="@{/js/nav.js}"></script>
<link th:href="@{/css/nav.css}" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	background-color: #ECF1EF;
}

h1 {
	color: #ffa500;
	font-weight: bold;
}

hr.style-four {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
</style>
<link th:href="@{/css/card.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/css/material-scrolltop.css}">
</head>
<body>

	<!-- Navigation -->

	<div th:replace="fragment/navbar :: app-navbar"></div>

	<!-- Navigation-end -->
	<div class="row justify-content-center mt-1 mx-auto">
		<div class="col-lg-4 ml-5">
			<h1>Our Departments</h1>
		</div>
	</div>
	<p class="mx-5 p-3 text-muted">Hospitals vary widely in the
		services they offer and therefore, in the departments they have.
		Hospitals may have acute services such as an emergency department or
		specialist trauma center, burn unit, surgery, or urgent care. These
		may then be backed up by more specialist units such as cardiology or
		coronary care unit, intensive care unit, neurology, cancer center, and
		obstetrics and gynecology.</p>
	<!-- department-card -->

	<!--  
	<div class="row mt-4 mx-5">
		<div class="col-lg-3 " th:each="department:${departments}">
			<div class="card my-4">
				<img class="card-img-top img-fluid " th:src="${department.image}"
					alt="">
				<div class="card-body pb-2">
					<h4 class="h4" th:text="${department.name}"></h4>
				</div>
			</div>
		</div>
	</div>
	-->

	<div class="row my-4 mx-5">
		<div class="cards-list mx-auto" th:each="department:${departments}">
			<div class="card mx-3 my-4">
				<div class="card_image">
					<img th:src="${department.image}" />
				</div>
				<div class="card_title title-white">
					<p
						style="width: inherit; height: inherit; background: rgba(3, 17, 16, 0.23);"
						th:text="${department.name}"></p>
				</div>
			</div>
		</div>
	</div>
	<!-- department-card-end -->

	<hr class="style-four" />
	<!-- scroll-top -->
	<a th:href="@{/departments}" id="scroll" style="display: none;"><span></span></a>

	<!-- Footer -->
	<div th:replace="fragment/footer :: app-footer"></div>
	<!-- Footer-end -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="//code.jquery.com/jquery.js"></script>
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script th:src="@{js/material-scrolltop.js}"></script>
</body>
</html>